.htmx-indicator{
   opacity:0;
   transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
   opacity:1;
   border: 1px solid #b82222
}
.htmx-request.htmx-indicator{
   opacity:1;
   border: 1px solid #b82222
}